<!DOCTYPE html>
<html ng-app="teams">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.9/angular.min.js"></script>
    <script src="../app/app.js" type="text/javascript" rel="stylesheet"></script>
</head>

<body>
<div ng-controller="TeamCtrl">
    <form name="forms.teamForm" ng-submit="SendData()" novalidate>
        <p>Team Name: <input type="text" name="teamName" ng-model="teamName" required/></p>
        <p>Members: </p>


        <div ng-repeat="member in members">
            <input type="text" placeholder="Member Name ..." ng-model="member.username"
                   name="usernameForm_{{$index}}" required>
            <input type="text" placeholder="Display Name ..." ng-model="member.display_name"
                   name="displayNameForm_{{$index}}" required>
            <span style="color:red"
                  ng-show="forms.teamForm['usernameForm_' + $index].$error.required && (!forms.teamForm['usernameForm_' + $index].$pristine || forms.teamForm.$submitted)">Username is required.</span>
            <span style="color:red"
                  ng-show="forms.teamForm['displayNameForm_' + $index].$error.required && (!forms.teamForm['displayNameForm_' + $index].$pristine || forms.teamForm.$submitted)">Display Name is required.</span>
        </div>
        <input type="button" ng-click="add()" value="New Item">
        <input type="submit" value="Submit">


    </form>
</div>
<hr/>
{{ PostDataResponse }}

</body>
</html>